.hero1-max-width {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.hero1-column {
  gap: 24px;
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.hero1-content {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.hero1-heading1 {
  width: 990px;
  margin-right: var(--dl-layout-space-oneandhalfunits);
}
 
.hero1-actions {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: flex-start;
}
 
.hero1-fragment1 {
  display: contents;
}
 
.hero1-text1 {
  display: inline-block;
}
 
.hero1-fragment2 {
  display: contents;
}
 
.hero1-text2 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .hero1-container {
    flex-direction: column;
  }
}
 
@media(max-width: 767px) {
  .hero1-heading1 {
    text-align: center;
  }
  .hero1-content1 {
    text-align: center;
  }
  .hero1-actions {
    width: 100%;
    justify-content: center;
  }
}
 
@media(max-width: 479px) {
  .hero1-actions {
    flex-direction: column;
  }
}
